.one-Section-42 {
  background: linear-gradient(0deg,rgb(0, 0, 44) 0%, rgb(78, 36, 208) 100%);
}
.one-Section-42 .button2 {
  margin: 15px auto;
  background: linear-gradient(0deg,#009688 0%, #4caf50 100%);
  font-size: 28px;
  text-decoration: none;
  width: 100%;
  max-width: 700px !important;
  padding: 20px 0px;
  border-radius: 150px;
}
.one-Section-42 .button2 a {
  text-decoration: none;
}
.one-Section-42 p {
  font-size: 20px;
  margin: 0;
  color: #fff;
}
.one-Section-42 .button2:hover {
  background: linear-gradient(0deg,#033263 0%, #52c9ff 100%);
}