.header-ad-block {
    background: repeating-linear-gradient(45deg, #0f977e, #0F976F 5px, #0f6858 0px, #04705c 12px);
    color: #FFF;
    padding: 20px 0;
    text-align: center;
    background: #2d3748;
    /* background: #007a64; */
}
.banner-content {
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    line-height: 1.55;
    display: block;
    color: #f6f7fa;
    text-decoration: none;
    margin-bottom: 0;
    font-size: 18px;
    padding: 4px 10px;
}
.banner-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-logo img {
    max-height: 36px;
    margin: 5px 12px 3px;
    vertical-align: middle;
}
.banner-logo span {
    font-size: 28px;
    line-height: 1;
    vertical-align: middle;
    font-weight: 600;
    color: rgba(255,255,255, 0.25);
}