.one-section-1 {
  padding: 100px 0px;
}

.one-section-1.banner {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 230px;
}

.one-section-1 .attention {
  background: #e96b00;
  color: #fff;
  padding: 0 10px;
  border-radius: 5px;
}

.one-section-1 .title121 {
  background: #f7c01c;
  padding: 21px 10px;
  border-radius: 10px;
  box-shadow: -1.097px 8.933px 7px 0 rgb(155 161 74 / 30%);
  text-align: center;
  transform: skewX(-20deg);
  color: #0c0c0c;
  font-weight: 600;
  max-width: 1340px;
  margin: 0 auto;
}


.one-section-1 .title2 {
  padding-bottom: 30px;
}

.one-section-1 h2.para1 {
  line-height: 1.6;
  text-align: center;
  font-size: 29px;
  font-weight: 500;
  max-width: 990px;
  margin: 0 auto;
}

.one-section-1 .text-32 {
  font-size: 26px;
  line-height: 1.6;
}

iframe {
  max-width: 100%;
}

@media (max-width: 1399px) {
  .one-section-1 .fs-22 {
    font-size: 18px !important;
  }

  .one-section-1 h1 {
    font-size: 36px !important;
  }

  .one-section-1 h2.para1 {
    font-size: 24px !important;
  }
}

/* @media (max-width: 991px) and (min-width: 768px) {
  iframe {
    max-width: 100%;
    height: auto;
    min-height: 420px;
  }
} */


@media (max-width: 767px) {

  .one-section-1 .fs-22 {
    font-size: 16px;
  }

  .one-section-1 .title121 {
    padding: 15px;
    transform: skewX(0deg);
    line-height: 1.2;
    font-size: 16px !important;
  }

  .one-section-1 h1.fw600.mt-1.text-sea-green,
  .one-section-1 h1.text-white.mt-5 {
    font-size: 24px;
  }

  .one-section-1 h2.para1,
  .one-section-1 p.para2,
  .pera3 {
    line-height: 1.5;
    text-align: center;
    font-size: 15px !important;
    padding: 0 15px;
    font-weight: 500;
  }

  .one-section-1 iframe {
    max-width: 100%;
    height: auto;
  }

  .one-section-1.banner {
    padding-bottom: 100px;
    padding-top: 50px;
  }
}

/* @media (max-width: 600px) {
  .one-section-1 iframe {
    min-height: 308px;
  }
} */

@media (max-width: 498px) {
  .one-section-1 .title2 {
    padding: 0;
    margin-top: 30px;
  }

  /* .one-section-1 iframe {
    max-width: 100%;
    height: auto;
    min-height: 247px;
  } */

  .one-section-1 .text-32 {
    margin-top: -120px;
  }
  .one-section .mybutton-btn {
    padding: 10px 20px !important;
    font-size: 18px;
  }
  .one-section .btn-arrow {
    position: relative;
    bottom: 0;
    margin-left: 10px;
    width: 40px;
    height: 40px;
  }
  .one-section .btn-price {
    width: 95% !important;
  }
}

.video-section iframe {
  width: 100%;
  max-width: 1000px;
  /* height: 100%; */
  margin: 0 auto;
}

/* @media (max-width: 420px) {
  .one-section-1 iframe {
      min-height: 212px;
  }
}

@media (max-width: 375) {
  .one-section-1 iframe {
      min-height: 192px;
  }
} */
  

@media (max-width: 992px) {
  .video-section iframe {
    height: auto;
    margin: 0 auto;
    max-width: 720px;
    min-height: 400px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .video-section iframe {
    height: auto;
    margin: 0 auto;
    width:100%;
    width: 640px;
    height: 360px;
  }
}

@media (max-width: 600px) {
  .video-section iframe {
    height: auto;
    margin: 0 auto;
    width:100%;
    width: 500px;
    height: 300px;
  }
}
  
@media (max-width: 500px) {
  .video-section iframe {
    height: auto;
    margin: 0 auto;
    width:100%;
    width: 400px;
    height: 240px;
  }
}

@media (max-width: 400px) {
  .video-section iframe {
    height: auto;
    margin: 0 auto;
    width:100%;
    width: 320px;
    height: 200px;
  }
}

@media (max-width: 300px) {
  .video-section iframe {
    height: auto;
    margin: 0 auto;
    width:100%;
    width: 260px;
    height: 160px;
  }
}