
.error-page-content {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 20px 10px rgb(0 0 0 / 5%);
    padding: 50px;
}
.error-page-content .css-10uuys0 {
    padding: 0;
}
.error-page-content .css-38ccot {
    margin: 0;
    width: 100%;
    display: block;
}
.error-page-content .css-eo1wnt {
    margin: 0;
    width: 100%;
}
.error-page-content .css-1izuu00 {
    text-align: center;
    display: block;
}
.error-page-content h1.css-1tfs0bf {
    font-size: 130px;
    line-height: 1;
}
.error-page-content h4.css-1j4kptc {
    line-height: 1;
    margin: 0;
    border-bottom: 2px solid #718096;
    display: inline;
    color: #718096;
    font-size: 20px;
}
.error-page-content .css-fvow3p::after {
    background-color: #109880;
    border-color: #109880;
}
.error-page-content .css-fvow3p::after:hover {
    background-color:#0d7e68;
    border-color: #0d7e68;
}
.error-page-content .css-1r0e6bs {
    margin: 0;
}
.error-page-content .css-8bwqk7 {
    display: none;
}
.error-404 {
    display: flow-root;
}
.error-404:before {
    //background: url(/static/bg-3-b5036acff4ba6506b547ec8bd986efcd.jpg);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    object-fit: cover;
    z-index: -5;
}
@media (max-width:600px) {
    .error-page-content {
        width: 90%;
        margin: 0 auto;
    }
    .css-1e4yo7m + .css-1e4yo7m {
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
    .error-page-content h1.css-1tfs0bf {
        font-size: 75px;
        line-height: 1;
        margin-bottom: 15px;
    }
    .error-page-content .css-b66di9 {
        margin: 0;
    }
    .error-page-content h4.css-1j4kptc {
        font-size: 14px;
    }
}
@media (max-width:300px) {
    .error-page-content h1.css-1tfs0bf {
        font-size: 40px;
    }
    .error-page-content a.button-group-button {
        zoom: 0.8;
    }
    .css-1jhnp88-ContentImages {
        zoom: 0.6;
    }
    button.css-tcfkt6 {
        zoom: 0.7;
    }
}