.one-section-4 {
    background: no-repeat center center;
    background-size: 100% 100%;
    padding: 2% 0 2% 0;
    position: relative;
    background-color: #fff;
}

.pocket {
    width: 500px;
    height: auto;
    margin-top: -140px;
}