
.home-one-main, .homeloading {
    display: block;
    position: relative;
}
.row.slider {position: relative;display: block;}
.rangeslider-horizontal {
    height: 12px;
    border-radius: 10px;
}
.rangeslider-horizontal .rangeslider__fill {
    background-color: #1caf9a;
}
.rangeslider-horizontal .rangeslider__handle {
    width: 70px;
    height: 36px;
    border: 4px solid #0f977e;
    background: #eefffc;
}
.rangeslider-horizontal .rangeslider__handle:after {display: none;}
.slider-left-block {
    width: 100%;
    max-width: 61% !important;
    background: #eefffc;
    box-shadow: 2px 34px 30px 0 rgb(23 30 37 / 14%);
    border-radius: 25px;
    position: relative;
    z-index: 1;
    display: inline-block;
    flex-direction: column;
    padding: 40px 50px 60px;
    text-align: center;
}
.subscribers-input {
    padding: 6px;
    text-align: center;
    font-size: 40px;
    line-height: 1;
    font-weight: bold;
    width: 270px;
    border-radius: 16px;
    border: 2px solid #95ded1;
    color: #505d74;
    margin-bottom:50px;
}
.subscribers-input:focus {
    border-color: #1caf9a;
    box-shadow: 0 0 5px #00000052;
    color: #2d3748;
    outline: 0;
}
.row.slider h3 {
    color: #2d3748 !important;
    margin: 0;
    font-size: 22px;
}
.row.slider p {
    margin: 0;
    margin-bottom: 15px;
}
.slider-right-block {
    padding: 40px 30px 0px 100px;
    display: block;
    position: absolute;
    right: 0;
    top: -60px;
    bottom: -70px;
    width: 45% !important;
    text-align: center;
    box-shadow: 2px 10px 30px 0 rgb(23 30 37 / 14%);
    border-radius: 25px;
    z-index: 0;
}

.slider-desc-val {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2.5px;
}
.slider-value {
    font-size: 50px;
    font-weight: bold;
    color: #2d3748;
    line-height: 1;
}
a.btn.btn-ohb {
    font-size: 21px;
    line-height: 1;
    padding: 15px 40px;
    margin-top: 15px;
    background: #0f977e;
    border: 2px solid #0f977e;
    border-radius: 13px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}
a.btn.btn-ohb:hover {
    background: #08876f;
    border-color: #08876f;
}
.slider-packages-header {
    padding-top: 5px;
}
.slider-packages {
    padding: 15px;
    background: #f2f2f2;
    border: 1px solid #f0f0f0;
}

.rangeslider__handle:before {
    content: '';
    background-image: url(/static/arrows.png);
    position: absolute;
    z-index: 999;
    width: 42px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    left: 10px;
    top: 5px;
}
.op-page .slider {
    border: 0 none !important;
}
.op-page.cloud-price .slider-right-block {
    padding: 70px 30px 0px 90px !important;
    background: #FFF;
    top: -50px;
    bottom: -50px;
    width: 50% !important;
}
.op-page.cloud-price .rangeslider {
    margin-bottom: 50px;
}
.cloud-price.op-page .slider-input-blk {
    margin-bottom: 60px;
}
.home-one-main.op-page {
    background: #fff;
    padding-top: 40px;
}
.cloud-price.op-page .slider-left-block {
    padding: 60px 50px 70px !important;
    max-width: 55% !important;
}
.op-page span.pmonth {
    font-size: 16px;
    display: inline-block;
    position: relative;
    line-height: 1;
    vertical-align: middle;
    margin-top: 5px;
    margin-left: 2px;
    color: #949494;
}
.pp-header {
    display: flex;
    justify-content: space-between;
    border: 1px solid #95ded1;
    border-bottom: 4px solid #95ded1;
    padding: 12px 15px;
    background: #eefffc;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    color: #2d3748;
    margin-bottom: 20px !important;
    align-items: center;
}
.pph-data {
    text-align: right;
}
.pph-data span.pplbl {
    display: block;
    line-height: 1;
    font-size: 13px;
}
.pph-data span.pprc {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 800;
    line-height: 1;
    display: block;
}
.pp-features-blk {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}
.pp-features-blk .pp-icon {
    width: 40px;
    min-width: 40px;
    height: 40px;
    background: #ededed;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-right: 15px;
}
.pplans {
    padding: 15px;
    border: 2px solid #eaeaea;
    border-radius: 45px;
    /* box-shadow: 1px 5px 8px 0 rgb(23 30 37 / 7%); */
    margin-bottom: 15px !important;
    background: #FFF;
}
.cloud-price .pp-features-blk .pp-flbl-blk {
    width: 80%;
    margin-left: 2%;
}
.cloud-price .pp-features-blk .pp-flbl-blk .pp-flbl-crow {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: #718096;
    margin-bottom: 5px;
}
.cloud-price .pp-features-blk .pp-flbl-blk .pp-flbl-crow .pp-flbl-cntnt {
    color: #2d3748;
    font-size: 13px;
    vertical-align: middle;
    font-weight: 700;
}
.pp-features-blk .pp-icon svg {
    fill: #77859a;
    width: 24px;
    height: 24px;
}
.pp-flbl-prow .progress {
    min-width: 100%;
    display: flex;
    height: 6px !important;
    margin: 0;
    overflow: hidden;
    background-color: #f3f3f3 !important;
    border-radius: 4px !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%!important;
}
.pp-flbl-prow .progress .progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #0d6efd;
    transition: width .6s ease;
}
.pp-flbl-prow .progress .progress-bar-success {
    background-color: #1caf9a !important;
}

@media (max-width: 1150px) {
    .slider-right-block {
        padding: 40px 30px 0px 90px;
    }
}
@media (max-width: 980px) {
    .slider-right-block {
        padding: 40px 30px 0px 80px;
    }
}
@media (max-width:980px) and (min-width:801px) {
    .pp-features-blk .pp-flbl-blk .pp-flbl-crow .pp-flbl-cntnt {
        font-size: 11px;
    }
    .pp-features-blk .pp-flbl-title {
        text-align: left;
        font-size: 10px;
    }
}
@media (max-width: 800px) {
    .op-page .slider-left-block {
        max-width: 100% !important;
    }
    .op-page .slider-right-block {
        position: relative;
        padding: 30px !important;
        width: 100% !important;
        top: 0 !important;
        left: 0;
        right: 0;
        text-align: center;
        margin-top: 50px !important;
    }
    .home-one-main .css-jgj9px {
        margin: 0 !important;
    }
    .css-1e4yo7m {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .op-page .pp-features-blk .pp-flbl-blk {
        width: 82% !important;
        margin-left: 2%;
    }
}


.css-1wzqk93 {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    line-height: 1.55;
    display: block;
    text-decoration: none;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    color: #0f977e;
}
.css-8idint {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    line-height: 1.55;
    display: block;
    color: #2d3748;
    text-decoration: none;
    margin-bottom: 2rem;
    font-size: 2.25rem;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}


.css-ad53z1 {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    min-width: auto;
    border-top-style: solid;
    border-top-color: transparent;
    border-top-width: 2px;
    height: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
@media screen and (min-width: 640px) {
    .css-fytypu {
        margin-top: 8rem;
        margin-bottom: 8rem;
    }
    .css-ad53z1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.mcp-fblk .css-1jca6ri {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    margin: -0.5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.mcp-fblk .css-1npmguo {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    width: 100%;
    display: block;
}

.mcp-fblk .css-2obwxi {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    background-color: var(--theme-ui-colors-contentBg,#fff);
    border-radius: 1rem;
    -webkit-transition: -webkit-transform 250ms ease, box-shadow 250ms ease, color 250ms ease;
    -webkit-transition: transform 250ms ease, box-shadow 250ms ease, color 250ms ease;
    transition: transform 250ms ease, box-shadow 250ms ease, color 250ms ease;
    box-shadow: 0 0 35px rgb(140 152 164 / 13%);
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 1rem;
}

.mcp-fblk .op-fl {
    display: flex;
    justify-content: left!important;
    padding: 15px 15px 15px 25px;
    text-align: left!important;
}

.mcp-fblk .css-k0djys {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    text-align: unset;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.mcp-fblk .css-9uke8i {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 0.5rem;
}

.mcp-fblk .css-wjyr4o {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: inline-block;
    vertical-align: middle;
    border-radius: 1rem;
    min-width: auto;
}

.mcp-fblk .css-1l4ust4 {
    fill: #0f977e;
    width: 32px;
    height: 32px;
    display: block;
}

.mcp-fblk .css-nnrka7 {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.mcp-fblk .css-vurnku {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
}

.css-1jca6ri.mcp-fblk {
    margin-bottom: 100px;
}

.accordion__heading.open .accordion__button:before {
    -webkit-transform: translate(0px, -50%) rotate(-45deg);
    transform: translate(0px, -50%) rotate(-45deg);
    transition: all 0.15s ease-in 0s;
    border-color: #0f977e;
}

@media screen and (min-width: 640px) {
    .mcp-fblk .css-1npmguo {
        -webkit-flex-basis: 33.333333%;
        -ms-flex-preferred-size: 33.333333%;
        flex-basis: 33.333333%;    
        width: 33.333%;
        display: inline-block;
    }
}
