.one-section-13 {
  background: no-repeat center top;
  background-size: cover;
  position: relative;
  z-index: 1;
  margin-top: -60px;
}


@media (max-width: 767px) {
  .one-section-13 {
    background-image: none !important;
    padding-bottom: 120px !important;
    margin-top: 0;
    background-color: #060608;
  }

}

.one-section-13 .p-fs {
  font-size: 14px;
}

.one-section-13 .testimonial-box-out {
  padding: 1%;
}

.one-section-13 .testimonial-box {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  padding: 25px 25px 5px;
  height: 100%;
  border: 3px solid#68226f;
}