.one-section-38 {
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.section38-box {
  border-radius: 40px;
  background-image: -webkit-linear-gradient(0deg, rgb(13 110 101) 0%, #009688 52%, rgb(20 208 191) 77%, #1ed2e9 100%);
  box-shadow: 0px 25px 43px 0px rgb(36 131 141 / 17%);
  padding: 12px;
  overflow: hidden;
}

.section38-box-inn {
  background-color: #fff;
  border-radius: 32px;
  padding: 70px 0;
}

.one-section-38 .mybutton .btn-price {
  border-radius: 18px;
  background-image: -webkit-linear-gradient(90deg, rgb(9, 151, 61) 0%, rgb(60, 171, 57) 52%, rgb(111, 191, 52) 100%);
  box-shadow: 0px 9px 38px 0px rgb(12 83 51 / 35%);
  color: #fff;
  font-size: 28px;
  text-decoration: none;
  margin: auto;
  transition: 0.5s;
  width: 70%;
  display: inline-grid;
  overflow: hidden;
}

.one-section-38 .mybutton-btn {
  background: url(./images/buttonBg.png) no-repeat left bottom;
  background-size: contain;
  padding: 20px 40px;
  position: relative;
}
.one-section-38 .btn-arrow {
position: relative;
bottom: 7%;
margin-left: 10px;
}
.one-section-38 :hover .btn-arrow {
animation: bounceRight 2s infinite;
}

/* right bounce */
@-webkit-keyframes bounceRight {

  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  40% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }

  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@-moz-keyframes bounceRight {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }

  40% {
    transform: translateX(15px);
  }

  60% {
    transform: translateX(10px);
  }
}

@keyframes bounceRight {

  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  40% {
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }

  60% {
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
}

/* /right bounce */