body {
  font-family: "Poppins";
}
.one-sale {
  padding: 0;
  margin: 0;
}
.css-14osyp1{
  max-width: 100% !important;
  margin-bottom: 0!important;
}

.one-section {
  padding: 120px 0;
  font-weight: 400;
}
.one-section .container {
  color: #4c5667;
  font-weight: 400;
  font-family: 'Mitr';
}
.one-section-41 {
  background-color: #000000;
  background-position: top center;
  background-repeat: repeat;
  background-size: contain;
}

.justify-content-center {
  justify-content: center!important;
}
/* .one-section .row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}
.one-section .row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
} */
.d-block {
  display: block!important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
img, svg {
  vertical-align: middle;
}
.d-flex {
  display: flex!important;
}
.px-3 {
  padding-right: 16px !important;
  padding-left: 16px !important;
}
.px-4 {
  padding-right: 24px!important;
  padding-left: 24px!important;
}
.px-0 {
  padding-right: 0!important;
  padding-left: 0!important;
}
.align-items-center {
  align-items: center!important;
}
.align-self-center {
  align-self: center!important;
}

.text-center {
  text-align: center!important;
}

.text-align-left {
  text-align: left;
}

/**** text-color ****/
.text-green {
  color: #0a973c;
}

.text-white {
  color: #ffffff;
 }
 .text-light-green {
   color: #3bff7e;
 }
 
 .text-blackish {
   color: #4c5667;
 }

.text-purple-dark {
  color: #410b64
}

.text-purple {
  color: #5132bb;
}

.text-purple1 {
  color: #ba68c8;
}

.text-orange {
  color: #ec6d21;
}

.text-dark-blue {
  color: #5132bb;
}

.text-sea-green {
  color: #0c6e65;
}

.text-red {
  color: #ff0000;
}

.text-yellow {
  color: #f9f717;
}

.text-yellow-gold {
  color: #f7c01c;
}

.text-blue {
  color: #303FAA;
}

.text-brown {
  color: #a83636;
}

.text-gray-blue {
  color: #3e72b6;
}

.text-light-brown {
  color: #c53f3f;
}

.text-light-blue {
  color: #407bff;
}

.text-black {
  color: #000000;
}

.text-off-white {
  color: #f5f5ff;
}

.text-gray {
  color: #4f4f54;
}

.gray {
  color: #4f4f54;
}

.text-yellow2 {
  color: #c6ff00 !important;
}

/**** text-color ****/

/**** font-weight ****/
.fw400 {
  font-weight: 400 !important;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.fw800 {
  font-weight: 800;
}

.fw900 {
  font-weight: 900;
}

/**** font-weight ****/

/**** max-width ****/
.max-w1200 {
  max-width: 1200px;
}
.max-w1100 {
  max-width: 1100px;
}
.max-w950 {
  max-width: 950px;
}
.max-w860 {
  max-width: 860px;
}
.max-w800 {
  max-width: 800px;
}

.max-w750 {
  max-width: 750px
}

.max-w650 {
  max-width: 650px
}

.max-w600 {
  max-width: 600px
}

.max-w550 {
  max-width: 550px
}

.max-w500 {
  max-width: 500px
}

.max-w450 {
  max-width: 450px
}

.max-w400 {
  max-width: 400px
}

/**** max-width ****/

/**** margin and padding ****/
.margint10 {
  margin-top: 10px;
}
.m-0{
  margin: 0!important;
}
.p-0{
  padding: 0!important;
}
.pt-0{
  padding-top: 0!important;
}
.pb-0{
  padding-bottom: 0!important;
}
.mb-0 {
  margin-bottom: 0!important;
}
.mt-0 {
  margin-top: 0!important;
}
.mt-1{
  margin-top: 4px;
}
.mt-2{
  margin-top: 8px;
}
.mt-3{
  margin-top: 16px;
}
.mt-4{
  margin-top: 24px;
}
.mt-5{
  margin-top: 48px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-5 {
  margin-bottom: 48px;
}
.mt-20-responsive {
  margin-top: 30px;
}
.m-auto{
  margin: auto;
}
.mx-auto {
  margin-right: auto!important;
  margin-left: auto!important;
}
iframe {
  max-width: 100%;
  border: 0;
}
ul.checklist1 {
  color: #333;
  font-weight: 400;
}
/**** margin and padding ****/

/**** font-size ****/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #333;
  line-height: 1.2;
}
h1{
  font-size: 40px;
}
h2{
  font-size: 32px;
}
h3{
  font-size: 28px;
}
.fs-18 {
  font-size: 18px
}

.fs-20 {
  font-size: 20px !important;
}

.fs-42 {
  font-size: 42px
}

.fs-h1-42 {
  font-size: 42px
}

.fs-22 {
  font-size: 22px
}

.fs-36 {
  font-size: 36px;
}

/**** font-size ****/

/**** line-height ***/
.lh-4 {
  line-height: 1.4;
}

.lh-5 {
  line-height: 1.5;
}

.lh-9 {
  line-height: 1.9;
}

.lh-6 {
  line-height: 1.6;
}

/**** line-height ***/

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.title3-out {
  background-image: -webkit-linear-gradient(0deg, rgb(13 111 102) 0%, rgb(30 210 232) 100%);
  box-shadow: 0px 6px 21px 0px rgb(21, 159, 165, 0.16);
  border-radius: 50px;
  display: inline-block;
  overflow: hidden;
  padding: 5px;
}

.title3 {
  display: inline-block;
  background: #fff;
  border-radius: 50px;
  padding: 6px 35px;
}

.upper {
  text-transform: uppercase;
}
/* **************      ****   media  screen   ************** ****  */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px){
.container, .container-sm {
  max-width: 540px;
}
}
@media (min-width: 768px){
  .container, .container-md, .container-sm {
    max-width: 720px;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .order-md-1 {
    order: 1!important;
  }
  .order-md-2 {
    order: 2!important;
  }
  .ps-md-5 {
    padding-left: 48px !important;
  }
}

@media (min-width: 992px){
  .container, .container-lg, .container-md, .container-sm {
    max-width: 960px;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}
@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 1400px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1320px;
  }
}
@media (min-width: 1500px){
  .container {
    max-width: 1470px !important;
  }
}


/* @media only screen and (max-width: 1024px) and (min-width: 768px) {
  .max-w860 {
    max-width: 758px !important
  }
} */

@media only screen and (max-width: 993px) {
  .connection3 {
    max-width: 50%;
  }

  .connection2 {
    max-width: 50%;
  }

  .connection4 {
    max-width: 50%;
  }

  .connection10 {
    max-width: 50%;
  }

  .connection7 {
    max-width: 20%;
  }

  .connection5 {
    max-width: 60%;
  }
}

@media only screen and (max-width: 767px) and (min-width: 576px) {

  .container,
  .container-sm {
    max-width: 100%;
  }
  .col-md-5 {width: 100% !important;}
}

@media (min-width: 768px) {
  .margin-r-l120 {
    margin: 20px;
  }

  .mysale-box {
    height: auto !important;
    padding: 10px 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0px !important;
  }

  .my-width-sec {
    max-width: 880px !important;
  }
  
}

@media (max-width: 767px) {
  .my-mt-5-max767 {
    margin-top: 3rem !important;
  }

  .one-section.one-section-2-lower {
    background: #f8f6fe;
    margin-top: 0px !important;
    padding-top: 0px;
    background-image: none !important;
  }

  .one-section-20 {
    background-image: none !important;
    background: #f1f6fd !important;
    margin-top: 0px !important;
    padding-top: 0px;
  }

  .mt-20-responsive {
    margin-top: 2px;
  }

  .one-section-37 {
    background-image: none !important;
    background: #000000 !important;
    margin-top: 0px !important;
  }

  .fs-h1-42 {
    font-size: 36px
  }

  .one-section-2,
  .one-section-6,
  .one-section-8,
  .one-section-12,
  .one-section-16,
  .one-section-19,
  .one-section-24,
  .one-section-28,
  .one-section-38 {
    padding: 120px 12px;
  }
  .one-section-34 .mybutton-btn,
  .one-section-38 .mybutton-btn {
    padding: 7px 20px;
  }

  .one-section-34 .mybutton a,
  .one-section-38 .mybutton a  {
    max-width: 100%;
    font-size: 24px;
  }

  .fs-36 {
    font-size: 30px;
  }

  .one-section-14 {
    background-image: none !important;
    padding-bottom: 120px !important;
    margin-top: 0 !important;
  }

  .one-section-32 .my-padding-section-top-plus-bottom1 {
    padding-top: 0px !important;
  }

  .one-section-32 .licence-shape {
    background-image: none !important;
    background: #0a3773 !important;
    padding: 12px 5px !important;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .one-section-25 {
    background-image: none !important;
    background-color: #081502 !important;
    padding-top: 90px;
  }

  .one-section-22 {
    background-image: none !important;
    padding-top: 120px !important;
    background-color: #1C1C65 !important;
  }

  .titleBg5 {
    background-image: none !important;
    padding: 10px 10px;
    border: 2px dashed #2b2228 !important;
  }

  .titleBg2 {
    background-image: none !important;
    padding: 3% 1% !important;
    background-color: #ffeeef !important;
    border: 2px solid #fee2e4 !important;
    margin-bottom: 20px;
  }


  .myimg-width {
    max-width: 210px !important;
  }

  .testimonial-box,
  .one-section.one-section-2-lower,
  .one-section-7,
  .one-section-9,
  .one-section-10,
  .one-section-11,
  .one-section-14,
  .one-section-15,
  .one-section15,
  .one-section-17,
  .one-section-22,
  .one-section-25,
  .one-section-20,
  .one-section-27,
  .one-section-30,
  .one-section-33,
  .one-section-36,
  .one-section-37,
  .one-section-40 {
    text-align: center !important;
  }
  .col-sm-6{
    flex: 0 0 auto;
    width: 50%;
  }
}
@media (max-width: 800px) {
  .col-md-5 {width: 100% !important;}
  .one-section ul li {
    font-size: 18px;
    font-weight: 400;
  }
  .one-section {
    font-weight: 400;
  }
}
@media (max-width: 498px) {
  .col-sm-6,.col-md-3{
    width: 100%;
  }
  .img-fluid {
    max-width: 100% !important;
    height: auto;
  }
  .mybutton a {
    width: 100% !important;
  }
  .css-1mk7qum{
    display: block !important;
  }
  h1{
    font-size: 26px;
  }
  .mb-5{
    margin-bottom: 16px;
  }
}

/* **************      ****   media  screen END HERE  ************** ****  */


.checklist2 li {
  padding-left: 45px;
  list-style: none;
  margin-left: 0px;
  padding-top: 0;
  padding-bottom: 2%;
  padding-right: 0;
  margin-top: 2%;
}

.font-my-style {
  border: 3px solid red;
}

.font-my-style:hover {

  border: 5px solid black !important;
}

.font-my-style {
  font-size: 26px !important;
  font-weight: 700;
}

.agency-text p {
  padding: 0 4%;
}

.agency-text {
  padding: 0 4%;
}

.title5-inn {
  display: inline-block;
  background: #0a806a00;
  padding: 6px 15px;
  width: 100%;
}

.gray4 {
  color: #cccccd;
}

.gray2 {
  color: #5d5d5d;
}

.title5-out {
  background-image: -webkit-linear-gradient(0deg, rgb(10 128 106) 0%,rgb(18 197 163) 100%) !important;
  box-shadow: 0px 6px 21px 0px rgb(10 128 106 / 18%);
  display: inline-block;
  overflow: hidden;
  padding: 1px;
  width: 100%;
}

.mysale-box a {
  line-height: 1 !important;
}

.myflex-center {
  display: flex;
  justify-content: center;
}

.padin40 {
  padding: 90px 20px 80px;
}

.text-css {
  text-align: center;
  color: #F8F8F8;
  font-family: "Neue Plak", Sans-serif;
  font-size: 27px;
  font-weight: 800;
  line-height: 52px;
}

.mb5 {
  margin-bottom: 5%;
}

.mt3 {
  margin-top: 3%;
}


.dotted-mybox-radius {
  border-radius: 9px 9px 9px 9px;
}

.mt2 {
  margin-top: 2%;
}

.checklist1 li {
  background: url(./images/list-check.png) no-repeat;
  padding-left: 45px;
  padding-bottom: 14px;
  margin-top: 14px;
  padding-top: 0px;
  line-height: 1.4;
  list-style: none;

}

@media (min-width: 1500px) {
  .container {
    max-width: 1470px !important;
    width: 100% !important
  }
}



/*****************************/
.me-1 {
  margin-right: 0.25rem !important;
}
.me-2 {
  margin-right: 0.5rem !important;
}
.me-3 {
  margin-right: 0.75rem !important;
}
.me-4 {
  margin-right: 1rem !important;
}
.me-5 {
  margin-right: 1.25rem !important;
}
.me-10 {
  margin-right: 2.5rem !important;
}
.ms-1 {
  margin-left: 0.25rem !important;
}
.ms-2 {
  margin-left: 0.5rem !important;
}
.ms-3 {
  margin-left: 0.75rem !important;
}
.ms-4 {
  margin-left: 1rem !important;
}
.ms-5 {
  margin-left: 1.25rem !important;
}
.ms-10 {
  margin-left: 2.5rem !important;
}
.mt-1 {
  margin-top: 0.25rem !important;
}
.mt-2 {
  margin-top: 0.5rem !important;
}
.mt-3 {
  margin-top: 0.75rem !important;
}
.mt-4 {
  margin-top: 1rem !important;
}
.mt-5 {
  margin-top: 1.25rem !important;
}
.mt-10 {
  margin-top: 2.5rem !important;
}
.mb-1 {
  margin-bottom: 0.25rem !important;
}
.mb-2 {
  margin-bottom: 0.5rem !important;
}
.mb-3 {
  margin-bottom: 0.75rem !important;
}
.mb-4 {
  margin-bottom: 1rem !important;
}
.mb-5 {
  margin-bottom: 1.25rem !important;
}
.mb-10 {
  margin-bottom: 2.5rem !important;
}
.text-link {
  cursor: pointer;
}
.d-none {display: none;}