.one-glossary-heroblock h2 {
    margin-bottom: 20px;
}

.one-glossary .one-glossary-main {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    padding: 100px 0;
}
.one-glossary .one-glossary-main:nth-of-type(odd) {
    background-color: #f7f9fa!important;
    border-top: 1px solid #e9f0f4;
    border-bottom: 1px solid #e9f0f4;
}
.glossary {
    /* padding: 90px; */
    position: relative;
    max-width: 950px;
    margin: 0 auto;
}
.glossary-mblock {
    font-family: 'Poppins',sans-serif !important;
}
.one-glossary-heroblock {
    position: relative;
}
.one-glossary .glossary:before {
    content: '';
    width: 950px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-repeat: no-repeat;
}
.one-glossary-main .glossary2:before {
    background-image: url(/static/70436c6800de421ff5c67e2d02bf5c8b/d0080/1-1.png);
}
.one-glossary-main .glossary2 {
    padding:75px 90px 90px;
}
.one-glossary-main .glossary4:before {
    background-image: url(/static/d8e0d9019f0684fbf2293e242bc1e2f6/1987c/2-1.png);
}
.one-glossary-main .glossary4 {
    padding:45px 80px 60px;
}
.one-glossary-main .glossary6:before {
    background-image: url(/static/f2dd65b0127c977eedf7e8b18f8a131f/8c5fd/3-1.png);
}
.one-glossary-main .glossary6 {
    padding:130px 60px 90px 90px;
}
.one-glossary-main .glossary8:before {
    background-image: url(/static/7aaf348dfa9ec8b69705b9b88e6bd333/01fb1/4-1.png);
}
.one-glossary-main .glossary8 {
    padding:130px 60px 120px 90px;
}
.one-glossary-main .glossary10:before {
    background-image: url(/static/fe471d99ae36f4fbe2d1970d17c577ef/8c5fd/5-1.png);
}
.one-glossary-main .glossary10 {
    padding:130px 60px 90px 90px;
}
.one-glossary-main .glossary12:before {
    background-image: url(/static/db42df19922976f97ee80925c6fd4a75/62c43/6-1.png);
}
.one-glossary-main .glossary12 {
    padding:130px 60px 120px 90px;
}
.one-glossary-main .glossary14:before {
    background-image: url(/static/6eb82708a37511441d38ffca65777260/9abe3/7-1.png);
}
.one-glossary-main .glossary14 {
    padding:150px 100px 120px 190px;
}
.one-glossary-main .glossary16:before {
    background-image: url(/static/70436c6800de421ff5c67e2d02bf5c8b/d0080/8-1.png);
}
.one-glossary-main .glossary16 {
    padding:120px 100px 100px;
}
.one-glossary-main .glossary18:before {
    background-image: url(/static/be8ef693748bb54f0355a9a5bbc3efa0/8c5fd/9-1.png);
}
.one-glossary-main .glossary18 {
    padding:130px 100px 100px 150px;
}
.one-glossary-main .glossary20:before {
    background-image: url(/static/3aa88e65ebe5574e78e28f0458ecfeb7/236e1/10-1.png);
}
.one-glossary-main .glossary20 {
    padding:130px 160px 100px 100px;
}
.one-glossary-main .glossary22:before {
    background-image: url(/static/a02fbb4063a5dbbdcafecf4b3ef3a77e/58131/11-1.png);
}
.one-glossary-main .glossary22 {
    padding:100px 100px 80px 110px;
}
.one-glossary-main .glossary24:before {
    background-image: url(/static/6b11e157c9ff97e2547f876a8ac75c63/a6580/12-1.png);
}
.one-glossary-main .glossary24 {
    padding:100px 100px 80px 110px;
}
.one-glossary-main .glossary26:before {
    background-image: url(/static/dfada4b1dba9290f89bb0c1d4ccb9336/8c5fd/13-1.png);
}
.one-glossary-main .glossary26 {
    padding:130px 100px 130px 110px;
}
.one-glossary-main .glossary28:before {
    background-image: url(/static/f79603ea36fc236c0b20f96e4a15f60f/47440/14-1.png);
}
.one-glossary-main .glossary28 {
    padding:130px 100px 130px 110px;
}
.one-glossary-main .glossary30:before {
    background-image: url(/static/ae9c71bf3e270ad329d6c52dd76281fd/47440/15-1.png);
}
.one-glossary-main .glossary30 {
    padding:100px 80px 20px 70px;
}
.one-glossary-main .glossary32:before {
    background-image: url(/static/fb66fd84401c2c8843517ef054adb16b/9c84c/16-1.png);
}
.one-glossary-main .glossary32 {
    padding:120px 60px 110px 150px;
}
.one-glossary-main .glossary34:before {
    background-image: url(/static/c2492e087bed3567e2b22671c42eeb51/47440/17-1.png);
}
.one-glossary-main .glossary34 {
    padding:120px 60px 110px 80px;
}
.one-glossary-main .glossary36:before {
    background-image: url(/static/5483a35229c88bea8b1d17475a4e6bfa/9abe3/18-1.png);
}
.one-glossary-main .glossary36 {
    padding:120px 60px 110px 80px;
}
.one-glossary-main .glossary38:before {
    background-image: url(/static/9ebb085c091967baa9f0198ac657a701/85340/19-1.png);
}
.one-glossary-main .glossary38 {
    padding:120px 40px 140px 80px;
}
.one-glossary-main .glossary40:before {
    background-image: url(/static/d4555ecb810b481b2cd1240bfa3c3599/8c5fd/20-1.png);
}
.one-glossary-main .glossary40 {
    padding:120px 40px 140px 80px;
}
.one-glossary-main .glossary42:before {
    background-image: url(/static/7aaf348dfa9ec8b69705b9b88e6bd333/01fb1/4-1.png);
}
.one-glossary-main .glossary42 {
    padding:110px 90px 140px 90px;
}
.one-glossary-main .glossary44:before {
    background-image: url(/static/d8e0d9019f0684fbf2293e242bc1e2f6/1987c/2-1.png);
}
.one-glossary-main .glossary44 {
    padding:70px 90px 140px 80px;
}
.one-glossary-main .glossary46:before {
    background-image: url(/static/db42df19922976f97ee80925c6fd4a75/62c43/6-1.png);
}
.one-glossary-main .glossary46 {
    padding:100px 90px 140px 80px;
}
.one-glossary-main .glossary48:before {
    background-image: url(/static/fe471d99ae36f4fbe2d1970d17c577ef/8c5fd/5-1.png);
}
.one-glossary-main .glossary48 {
    padding:120px 90px 140px 90px;
}
.one-glossary-main .glossary50:before {
    background-image: url(/static/a02fbb4063a5dbbdcafecf4b3ef3a77e/58131/11-1.png);
}
.one-glossary-main .glossary50 {
    padding:120px 90px 140px 60px;
}
.one-glossary-main .glossary52:before {
    background-image: url(/static/f2dd65b0127c977eedf7e8b18f8a131f/8c5fd/3-1.png);
}
.one-glossary-main .glossary52 {
    padding:160px 120px 130px 80px;
}
.one-glossary-main .glossary54:before {
    background-image: url(/static/fb66fd84401c2c8843517ef054adb16b/9c84c/16-1.png);
}
.one-glossary-main .glossary54 {
    padding:100px 120px 130px 160px;
}
.one-glossary-main .glossary56:before {
    background-image: url(/static/9ebb085c091967baa9f0198ac657a701/85340/19-1.png);
}
.one-glossary-main .glossary56 {
    padding:180px 120px 150px 100px;
}
.glossary57 {
    padding-right: 250px;
}
.glossary57:after {
    content: "";
    right: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-image: url(/static/fcf23f1e3611904ae86bc7b465b384cb/56d9f/sitting-reading.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
}
ul.alfaNav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#alfaMenu {
    position: fixed;
    left: 10%;
    top: 30%;
    padding: 0 10px;
    border: 2px solid #e8e8e8;
    border-radius: 50px;
    background: #fdfdfd;
    z-index: 15;
}
ul.alfaNav {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    padding-top: 9px;
    padding-bottom: 8px;
}
ul.alfaNav li {
    line-height: 1;
    text-align: center;
}
ul.alfaNav li button {
    padding: 0;
    margin: 0;
    background: transparent;
    border: 0;
    cursor: pointer;
    margin: 2px 4px;
    font-size: 13px;
    font-weight: 600;
    color: #718096;
}
ul.alfaNav li:focus button {
    color: #333;
}
ul.alfaNav li:hover button {
    color: #009688;
}


.one-glossary .glossary-background-image {
    display: none;
}





@media (max-width:991px) {
    .one-glossary-heroblock .css-ag8skq {
        display: block;
    }
    .one-glossary-main .glossary {
        padding: 0 !important;
    }
    .one-glossary-main .glossary .glossary-mblock {
        text-align: left !important;
    }
    .one-glossary-main .glossary:before {
        display:none;
        background-image: none;
    }
    .one-glossary .one-glossary-main {
        padding: 30px 0;
    }
    .one-glossary-main .glossary .glossary-mblock h3 {
        font-weight: 700 !important;
    }
    .one-glossary-main .glossary .glossary-mblock .css-vurnku,
    .one-glossary-main .glossary .glossary-mblock .css-1sy89y0 {
        color: #718096;
        font-size: 15px;
    }
    .subheader-block .nav-container .css-aaitl3 {
        display: block;
    }
    .one-glossary #features4 {
        padding-bottom: 0 !important;
    }
    .glossary57:after {display: none}
}

@media (max-width:767px) {
    #alfaMenu {
        position: fixed;
        left: auto;
        right: 20px;
        top: 25%;
        margin-top: 0;
        padding: 0 10px;
        border: 2px solid #e8e8e8;
        border-radius: 50px;
        background: #fdfdfd;
        z-index: 99999;
    }
}
.one-glossary-heroblock #hero h1 {
    font-size: 44px;
}