.one-section-33 {
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* background: radial-gradient(circle at center center, rgb(0, 111, 175) 0px, rgb(32, 70, 160) 100%); */
  background-size: cover;
  background: #2758b4;
}
.one-section-33 .list-overflow-green144 {
    padding: 0px 0 0 60px;
    position: relative;
}

.one-section-33 .bulletlistgreen14 {
    top: 1px;
    left: 0px;
    position: absolute;
}

@media (max-width: 767px) {
    .one-section-33 .list-overflow-green144 {
        padding: 0px 0 0 40px;
        font-size: 16px;
        font-weight: 400;
    }
}