.subheader-main a.button-group-link .css-12hibeq {
    color: #fff;
}

.subheader-main .nav-container .css-aaitl3 a.button-group-link.level-1>.css-12hibeq {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 15px;
    text-shadow: 0 0 0 transparent;
}
#subheader_smsplus .container-level-1 {
    margin-top: 0 !important;
    padding: 10px 20px !important;
    margin-right: -7px;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
        margin:0 auto;
    }
    #subheader_smsplus .subheader-main .container-level-1 {
        margin-top: 0 !important;
        padding: 20px 25px !important;
        margin-right: 0;
    }
    #subheader_smsplus .subheader-main .container-level-1 a.button-group-link {
        line-height: 1.5;
        padding: 0 !important;
        margin: 0 !important;
        justify-content: start;
        min-height: 45px;
        align-items: center;
        display: flex;
    }
    #subheader_smsplus  a.button-group-link .css-12hibeq {
        font-size: 1rem;
        font-family: 'Poppins',sans-serif;
        color:#2d3748;
    }
    #subheader_smsplus  a.button-group-link .css-12hibeq:hover {
        color: #0f977e;
    }
    #subheader_smsplus .level-2 {
        margin-top: 0 !important;
    }
    .subheader-block.smspricing .subheader-main .container-level-1 {
        -webkit-transform: translate(-10%,0) !important;
        transform: translate(-10%,0) !important;
    }
}