#preloading {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0, 0.5);
}
.css-1hkoyk9 {
    box-shadow: 0 0 35px rgb(140 152 164 / 25%);
    padding: 2rem;
}
#preloading .preloader {
    position: absolute;
    left: calc(50% - 70px);
    top: calc(50% - 70px);
}
.preloader {
    border: 8px solid #bababa;
    border-radius: 50%;
    border-top: 8px solid #fafafa;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

.error {color:red}
.show {display:block !important}
.hide {display:none}
.error-block {
    position: absolute;
    font-size: 12px;
}
.fieldBlk.is-invalid {
    background: #fceaea;
}
.fieldBlk.is-invalid input[name="fullname"] {
    background: #fceaea;
}
.fieldBlk.is-invalid input[name="email"] {
    background: #fceaea;
}
.fieldBlk.is-invalid input[name="phoneno"] {
    background: #fceaea;
}
.fieldBlk.is-invalid input[name="subject"] {
    background: #fceaea;
}
.fieldBlk.is-invalid input[name="message"] {
    background: #fceaea;
}

form.contact-us-form .css-vurnku {
    position: relative;
}
.error-recaptcha {
    text-align: left;
    font-size: 12px;
    color: #ff0000;
    display: flex;
    position: absolute;
}
.error-recaptcha.hide {
    display: none;
}
.error-recaptcha.show {
    display: flex !important;
}

  
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width:767px) {
    form.contact-us-form .css-vurnku {
        width: 100% !important;
    }
}