.one-section-14 {
  background: no-repeat center top;
  background-size: cover;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.one-section-14 p {
  font-size: 20px;
}

.one-section-14 .my-margin-left {
  position: relative;
  right: 85px;
}
.one-section-14 .pading {
  padding: 60px 0;
}
.one-section-14 .titleBg1 {
  background: no-repeat center left;
  background-size: cover;
  color: #ffffff;
  padding: 4.6% 0% 3.1% 16%;
  margin-top: -3%;
}

.one-section-14 .important,
.image1 {
  max-height: 600px;
  display: block;
  margin: 0 auto;
}

@media (max-width: 767px) {

  .one-section-14 .important,
  .image1 {

    bottom: 0px;
  }
}

@media (max-width: 991px) {

  .titleBg1 {
    background-image: none !important;
    padding: 20px !important;
    margin-top: 0 !important;
    background-color: #0e7067 !important;
  }

  .one-section-14 .my-margin-left {
    right: 0px;
  }
}

@media (min-width: 1400px) {
  .my-pad-left70 {
    padding-left: 80px !important;
  }

  .one-section-14 .titleBg1 {
    background: no-repeat center left;
    background-size: cover;
    color: #ffffff;
    padding: 4.6% 0% 3.1% 16%;
    margin-top: -3%;
  }
}

@media only screen and (max-width: 1099px) and (min-width: 992px) {
  .one-section-14 .titleBg1 {
    padding: 6% 0% 3.1% 16%;
    width: 120%;
  }

  .one-section-14 .my-margin-left {
    position: relative;
    right: 35px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 1100px) {
  .one-section-14 .my-margin-left {
    position: relative;
    right: 70px;
  }
}

@media only screen and (max-width: 1441px) and (min-width: 1200px) {
  .one-section-14 .titleBg1 {
    padding: 5.6% 0% 3.1% 15%;
    width: 104%;
  }

  .one-section-14 .my-margin-left {
    position: relative;
    right: 30px;
  }
}

@media only screen and (max-width:1500px) and (min-width:1024px) {
  .one-section-14 .titleBg1 {
      background-image: none !important;
      background: #128989;
      padding: 12px !important;
      right: auto;
      top: 0;
      position: relative;
      left: auto;
      width: 100%;
      text-align: center;
  }
  .one-section-14 .titleBg1 h2 {
      margin: 0 !important;
      font-size: 26px;
  }
}
@media only screen and (max-width:1024px) {
  .one-section-14 .titleBg1 h2 {
    font-size: 24px;
    margin: 0 !important;
    padding: 10px;
  }
  .one-section-14 .titleBg1 {
    background-color: #128989 !important;
    background-image: none !important;
    padding: 0 !important;
    max-width: 440px;
    display: block !important;
    clear: both; 
  }
  .one-section-14 p.fw400.lh-5.mt-4 {
    display: block;
    width: 100%;
    clear: both;
  }
}