.one-section-29 {
    text-align: center;
}

.one-section-29-bottom {
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to bottom, white, #d7f1ff6b);
    padding-bottom: 120px;
}

.one-section-29 .one-section-29-uper {
    position: relative;
    background-color: #fff;
    background-position: 50%;
    background-size: cover;
    padding-bottom: 60px;
    padding-top: 120px;
    
}
.one-section-29 .blk-img{
    position: relative;
    padding-top: 74px;
    padding-bottom: 75px;
    margin-top: -140px;
    background-repeat: no-repeat;
    margin-bottom: 0px;
    background-color: rgba(0,0,0,0)!important;
    z-index: 0;
}
.one-section-29-uper .laptop-img{
    position: relative;
    /* top: 110px;
    left: 0;*/
    z-index: 1;
    background: no-repeat center 0;
}
.one-section-29-uper .blk1{
    position: relative;
    /* top: 110px; */
}
.one-section-29-bottom ul {
    margin-top: 0;
    padding-left: 0rem;
}

.one-section-29-bottom .checklist2 li {
    background: url(./images/check3.png) no-repeat 0 0px;
    padding-left: 50px;
    list-style: none;
    margin-left: 0px;
    padding-top: 4px;
    padding-bottom: 0;
    padding-right: 0;
    margin-top: 2px;
    font-weight: 400;
}

.one-section-29 .img-styling {
    margin: -90px auto 0px;
}

.one-section-29 .pad60-bottom {
    padding-bottom: 20px;
}

.one-section-29 .section29-box {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: -10.607px 10.607px 49px 0px rgb(5 18 164 / 15%);
    overflow: hidden;
    padding: 10px;
    text-align: center;
    height: 100%;
    padding-bottom: 20px;
    max-width: 650px;
    margin: 0 auto 20px;
}

.one-section-29 .pading {
    padding: 25px 15px;
}

.one-section-29 .recap1,
.one-section-29 .recap2 {
    width: 100%;
    height: 300px;
    border-radius: 6px;
    object-fit: cover;
}

.one-section-29-bottom ul {
    padding-left: 1rem;
    display: grid;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.section-pb{
    padding-bottom: 50px;
}
@media (max-width: 1499px) {
    .blk1 h1{
        font-size: 38px;
    }
    .one-section-29-uper .blk1 {
        position: relative;
    }
    
    .one-section-29 .one-section-29-uper {
        padding-bottom: 110px;
        padding-top: 80px;
    }
    .one-section-29-uper .laptop-img {
        margin-top: 50px;
    }
}
@media only screen and (max-width: 992px) {
    .one-section-29 .section29-box {
        margin:0 auto 10px;
    }

    .one-section-29-bottom ul {
        padding-left: 0rem;

    }

}

@media only screen and (max-width: 767px) {
    .one-section-29 .text-align-left {
        text-align: center;
    }

    .one-section-29-bottom .checklist2 li {
        padding-left: 45px;
    }

    .one-section-29 .pading {
        padding: 25px 5px;
    }
    .one-section-29-uper .blk1{
      top: 0;
    }
    .one-section-29-bottom .max-w550{
        max-width: 100%;
    }
}
@media only screen and (max-width: 498px) {
    .one-section-29-uper .laptop-img{
        top: 30px;
    }
    .one-section-29 .blk-img{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .blk1 h1 {
        font-size: 32px;
        text-align: center;
    }
}