.pricing .featured {
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background:#0f977e !important;
    color: #fff;
}
.bg-success {
    background-color: #0f977e!important;
}
.bg-info {
    background-color: #007bff!important;
}
.bg-warning {
    background-color: #ffc107!important;
}
.bg-danger {
    background-color: #dc3545!important;
}
.pricing .price sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
}
.fpbicon {
    font-size: 22px !important;
    line-height: 1;
    display: inline-block;
}
.fpbicon.text-success {
    color: #0f977e !important;
}
.pricing ul {
    padding: 0;
    list-style: none;
    color: #444444;
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    margin-bottom: 25px;
}
.pricing .price {
    font-size: 55px;
    color: #007bff;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}
.pricing .box {
    padding: 40px 20px;
    background: #fff;
    text-align: center;
    box-shadow: 0px 0 30px rgb(1 41 112 / 8%);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}
.pricing ul {
    padding: 0;
    list-style: none;
    color: #444444;
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    margin-bottom: 25px;
}
ul.price-180 img {
    padding: 0 !important;
    width: 17px !important;
    margin: 0 !important;
    height: 17px;
    border: 0 !important;
    box-shadow: 0 0 0 transparent;
    vertical-align: middle;
    margin-right: 2px !important;
}
ul.price-180 li {
    padding-bottom: 10px;
    font-weight: 300;
}
.pricing .price {
font-size: 55px;
color: #007bff;
font-weight: bold;
}
i.circle-no {
font-size: 22px;
line-height: 1;
vertical-align: middle;
}
.bi-check-circle {
    color: #0f997f;
}
.bi-x-circle {
color: #dc3545!important;
}
.align-center {
    text-align: center;
}
.btn-rounded {
    border-radius: 20px;
    padding: 5px 12px;
}
.pricing img {
    padding: 30px 40px;
    height: 100%;
    object-fit: contain;
}
section#table .col-lg-12 {
    overflow: hidden;
    overflow-x: overlay;
}
.table>:not(caption)>*>* {
    white-space: nowrap;
    font-size: 14px;
}
section#table table tr td:first-child {
white-space: normal;
word-break: break-word;
min-width: 140px;
}
@media (min-width: 992px) {
.swiper-wrapper {
    padding-left: 8.3%;
}
}
ul.c-pricing-nav {
    max-width: 600px;
    width: 100%;
    margin: 0 auto 35px;
    justify-content: center;
}
.pricing ul.c-pricing-nav li {
    padding-bottom: 0px !important;
}
.pricing ul.c-pricing-nav li a {
    background: #fff !important;
    color: #007bff !important;
    font-size: 18px;
    letter-spacing: 1px;
    width: 100%;
    min-width: 280px;
    padding: 0;
    line-height: 1;
    padding-top: 14px;
    height: 50px;
    border-radius: 0;
    border-left:0;
    border-right:0;
    border-bottom: 1px solid;
    vertical-align: middle;
    font-weight: 400;
}
.pricing ul.c-pricing-nav li a.active {
    border-bottom: 1px solid transparent;
    border-top: 4px solid #007bff;
    line-height: 1;
    padding-top: 10px;
}
.pricing ul.c-pricing-nav li a.br1.active {
    border-right: 1px solid #007bff; 
}
.pricing ul.c-pricing-nav li a.bl1.active {
    border-left: 1px solid #007bff;
}
a.nav-link.bl11 {
    border-left: 1px solid #007bff !important;
}
.pricing ul.c-pricing-nav li a i {
    font-size: 22px;
    vertical-align: middle;
    margin-right: 2px;
    color:#007bff;
}
.pnav-block {
    display: block;
}
.pricing h3 {
    font-weight: 700 !important;
    font-size: 30px;
}
.pricing .price {
    font-weight: bold;
    line-height: 1;
    margin-top: 30px;
    margin-bottom: 35px !important;
}
.pricing .price span {
    display: inline;
    font-size: 55px;
    color: #007bff;
    font-weight: bold;
}
.feature-block .price span {
    color: #0f977e;
}
.pricing .price span.monthly {
    display: block;
}
.feature-block a.btn-buy:hover, .feature-block a.btn-buy:focus {
    background: #0f977e;
}
.feature-block .price {
    color: #0f977e;
}
.feature-block a.btn-buy {
    background: transparent;
    border-color: #0f977e !important;
    color: #0f977e;
}
.feature-block h3 {
    color: #0f977e !important;
}
.pricing .box {
    padding: 50px 20px;
    border: 1px solid #e8e8e8;
}
ul.price-180 i {
    margin-right: 5px;
    font-size: 17px;
    vertical-align: middle;
}

ul.price-180 {
    padding: 0;
    max-width: 200px;
    margin: 0 auto 25px;
    text-align: left;
    font-size: 13px;
    height: 300px;
    list-style-type: none;
}
ul.price-180 li ul {
    margin: 0;
    text-align: left;
    font-size: 13px;
    padding-left: 15px;
    margin-top: 15px;
}
.update {
    display: flex;
    width: 100%;
    text-align: center;
    max-width: 220px;
    margin: 0 auto;
    margin-bottom: 35px;
    line-height: 44px;
    background: #d2e3f4;
    border: 1px dashed #007bff;
    color: #007bff;
    font-weight: 300;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
}
.feature-block .update {
    background: #b6ece2;
    border: 1px dashed #0f977e;
    font-weight: 300;
    color: #0f977e;
}
select#selfHostDD2 {
    height: 50px;
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAeBAMAAADayfNlAAAAFVBMVEWqqqo6PkUTGCH///8sLzQAAAD///9nPTp+AAAABnRSTlPAgHhNAD+uBxJqAAAAM0lEQVQYlWNQdoEDhkHPdk4DAhMI25UtLS0hBKomIC2NFabelS0hBK43gBVhjmvIwLkfAEDLVFOES3T2AAAAAElFTkSuQmCC), -webkit-linear-gradient(#ffffff, #f4f5f7 40%, #E5E5E5);
    background-position: 95% center;
    background-repeat: no-repeat;
    border: 1px solid #878a8f;
    font-size: 14px;
    margin: 0px auto 25px;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
    outline: 0 none;
    font-weight: 500;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}
.w225 {
    height: 225px !important;
}
.pricing .box:hover {
    transform: scale(1);
    box-shadow: 0px 0 30px rgb(1, 41, 112, 0.15);
}
select#selfHostDD2:focus {
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);
}
#price-compare-table td:first-child {
    text-align: left;
}
#price-compare-table td {
    text-align: center;
    padding: 10px 16px;
    vertical-align: middle;
}
select#f2user {
    line-height: 15px;
    height: 26px !important;
    padding: 0 10px;
    border: 1px solid #d2d2d2;
    background: #ffffff;
    max-width: 90px;
    margin: 0 auto;
    font-size: 12px;
    box-shadow: none;
    cursor:pointer;
}
.f2user-blk {
    position: relative;
    display: block;
    max-width: 90px;
    margin: 0 auto;
}
.f2user-blk:before {
    content: "\f279";
    font-family: bootstrap-icons !important;
    position: absolute;
    right: 7px;
    color: #b4b4b4;
    display: none !important;
}
table#price-compare-table2 td:first-child {
    text-align: left;
}
table#price-compare-table2 td {
    text-align: center;
    padding: 10px 12px;
    vertical-align: middle;
}
section#table table tr th:first-child {
    text-align: center;
}
table#price-compare-table {
    margin: 0;
}
a#feature1 {
    font-weight: 600;
    font-size: 14px;
    line-height: 44px;
}
button.accordion-button:focus {
    box-shadow: none;
    background: #fff;
}
.accordion-item {
    border-color: #98a1b1;
}
.accordion-flush .accordion-item .accordion-button {
    line-height: 70px;
    font-weight: 600;
    padding: 0;
}
#faqlist1, #faqlist2 {
    border-top: 1px solid #98a1b1;
    border-bottom: 1px solid #98a1b1;
    max-width: 760px;
    margin: 0 auto;
}
.accordion-button::after {
    background-size: 13px;
    margin-top: 5px;
}
.accordion-body {
    padding: 0 0 1.25rem 0;
    font-size: 13px;
}
.accordion-button {font-size: 14px;}
.accordion-button:not(.collapsed) {
    color: #0c63e4;
    background-color: #ffffff;
    box-shadow:none;
}
a.need-trial {
    position: absolute;
    top: -30px;
    right: 15px;
}
.switch {
    vertical-align: middle;
    position: relative;
    display: inline-block;
    padding: 0px;
    width: 50px;
    height: 18px;
    border-radius: 20px;
    margin-top: -5px;
}
.switch input {
    display: none;
}
input:checked + .slider {
    background-color: #fafafa;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
    border: 1px solid #bec4d0!important;
    background-color: #c1c1c130!important;
}
.slider:before {
    position: absolute;
    content: "";
    height: 28px;
    width: 28px;
    left: -2px;
    border-radius: 20px;
    bottom: -5px;
    background-color: #FFFFFF;
    border: 1px solid #bec4d0;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(28px);
    border: 1px solid #007bff;
    background: #007bff !important;
}
#monthlyannual {
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 5px;
    width: 70px;
}
.on-off-switch-thumb {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    text-align: right;
}
.head-title {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}
.head-title h3 {
    margin: 0;
}
.pricing .price span.monthly {
    color: #bababa;
    font-size: 14px;
    font-weight: 600;
}
.update i {
    background: #fff;
    border: 1px solid #007bff;
    min-width: 24px;
    display: inline-block;
    text-align: center;
    height: 24px;
    line-height: 24px;
    margin-right: 6px;
}
.pricing .update i img {
    height: 22px;
    object-fit: unset;
    box-shadow: 0 0 0 0;
    border: 0;
    margin: 0;
    padding: 0;
    width: 22px;
    display: none;
}
.feature-block .update i {
    border: 1px solid #0f977e;
}
.classic-pricing .box.feature-block {
    background: #FFF !important;
}
.pricing .btn-buy {
    display: inline-block;
    padding: 10px 40px 8px 40px;
    border-radius: 50px;
    color: #ffffff;
    transition: none;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    transition: 0.3s;
    border: 1px solid #0f977e;
    text-decoration: none;
    white-space: nowrap;
}
.pricing .btn-buy:hover {
    background: #0b8c74;
    color: #fff;
}
.feature-block a.btn-buy {
    background: transparent;
    border-color: #0f977e !important;
    color: #0f977e;
}
.feature-block a.btn-buy:hover, .feature-block a.btn-buy:focus {
    background: #0f977e;
}



/**********************************/

.panel>.panel-heading {
    background: #fff;
    color: #333;
    border-bottom: 1px solid #ddd;
    padding: 20px 10px;
}
.panel .panel-body {
    padding: 20px 10px 20px!important;
}
.panel.product-feature {
    padding: 3px 10px !important;
    font-size: 13px;
    color: #666;
}
.product-feature {
    font-size: 15px;
}
.panel .product-feature i {
    font-size: 20px;
    vertical-align: middle;
}
.blue {
    color: #2196f3;
}
.panel {
    border-radius: 3px;
    word-wrap: break-word;
    margin: 0;
    display: block;
    background: #fff;
    border: 1px solid #e8e8e8;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}
h4#list-name, h3#product-name {
    margin: 0;
    font-size: 18px;
    display: inline-block;
    width: auto;
    line-height: 1.5;
}
.progress {
    height: 6px !important;
    margin: 0;
    overflow: hidden;
    background-color: #f3f3f3 !important;
    border-radius: 4px !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%!important;
}
.progress-bar-success {
    background-color: #1caf9a !important;
}
.feature-value strong {
    font-weight: 600 !important;
    font-size: 13px;
}
.feature-container {
    padding: 0 10px 10px;
    display: block;
}
.product-price {
    display: inline-block;
    width: auto;
    float: right;
}
#newPriceBlk {
    font-family: Open Sans, sans-serif!important;
    max-width: 980px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #e8e8e8;
    box-shadow: 0px 0 30px rgb(1 41 112 / 8%);
}
.form-group.step1 {
    border: 1px solid #bec4d0!important;
    box-shadow: 0 0 10px #04162b4d;
    background: #fff;
    width: 100%;
    display: inline-block;
}
.range-block {
    background: #fff;
    padding: 45px 20px 10px;
}
.base-block {
    background: #04162b;
    color: #fff!important;
    padding: 38px 25px 38px!important;
    font-size: 1rem;
    min-height: 400px;
    float: right!important;
}
.base-block {
    min-height: 308px !important;
    margin: 0;
}
.base-block h3 {
    margin: 0!important;
    color: #fff!important;
    font-size: 22px!important;
    font-weight: 600!important;
    letter-spacing: .2px!important;
    margin-bottom: 20px!important;
}
.base-block>h5 {
    margin-bottom: 0 !important;
}
.base-block h5 {
    font-size: 18px;
    color: #fff!important;
    font-weight: 600;
    margin-bottom: 20px!important;
    margin-top: 0!important;
}
.base-block p {
    margin-bottom: 25px!important;
    font-size: 15px!important;
    font-family: Open Sans, sans-serif!important;
}
.plan {
    margin-bottom: 10px;
    height: 40px;
}
h5#pricemain {
    background: #fff;
    color: #123!important;
    font-weight: 700;
    font-size: 27px;
    padding: 5px 10px;
    line-height: 1;
    vertical-align: sub;
    min-width: 80px;
    text-align: center;
    margin-top: 0;
}
.base-block .plan h5 {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 8px!important;
}
.range-block h3 {
    font-size: 26px;
    display: block;
    text-align: center;
}
.range-block h5.emails12 {
    text-align: center;
    font-size: 18px;
}
a#seeBrDwn {
    display: none;
}
.irs--big .irs-from, .irs--big .irs-to, .irs--big .irs-single {
    background-color: #0abb87!important;
    background: linear-gradient(to bottom, #0abb87 0%, #1caf9a 100%)!important;
}
.irs--big .irs-bar {
    height: 10px!important;
    top: 65px!important;
}
.irs--big .irs-bar {
    border: 1px solid #1caf9a!important;
    background: linear-gradient(to bottom, #fff 0%, #1caf9a 30%, #19d09a 100%)!important;
    background: linear-gradient(to bottom, #1caf9a 0%, #1caf9a 30%, #1caf9a 100%)!important;
    box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0)!important;
}
.irs--big .irs-handle {
    cursor: pointer;
    background: linear-gradient(to bottom, white 0%, #fff 50%, white 100%)!important;
}
.irs--big .irs-handle {
    border: 4px solid #1caf9a!important;
    background-color: #cbcfd5;
    background: linear-gradient(to bottom, white 0%, #c5cad0 50%, white 100%)!important;
    box-shadow: 0 0 0 1px rgba(28, 175, 154, .1), inset 0 0 2px 2px #fff!important;
}
.irs--big .irs-handle {
    width: 36px!important;
    height: 36px!important;
    top: 51px!important;
}
.irs--big .irs-line {
    top: 65px!important;
    height: 10px!important;
}
.irs--big .irs-line {
    background: #ccc!important;
}
.irs-with-grid .irs-grid, .irs--big .irs-min, .irs--big .irs-max {
    display: none;
}
#contactsrow p {
    padding: 0 70px;
    margin-top: 25px;
}
.irs--big .irs-from, .irs--big .irs-to, .irs--big .irs-single {
    padding: 1px 8px!important;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.5;
    font-family: Open Sans, sans-serif!important;
}
.irs--big .irs-single, .kt-ion-range-slider .irs--big .irs-single {
    display: block!important;
    height: 30px;
    line-height: 28px!important;
    margin-top: 8px!important;
}
.irs--big .irs-handle {
    cursor: pointer;
    background: linear-gradient(to bottom, white 0%, #fff 50%, white 100%)!important;
}


#contactsrow .col-md-8, #contactsrow .col-md-4  {
    flex: 0 0 auto;
    width: 100%;
}
#contactsrow .col-md-8, #contactsrow .col-md-4 {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)/ 2);
    padding-left: calc(var(--bs-gutter-x)/ 2);
    margin-top: var(--bs-gutter-y);
}
@media (min-width: 768px) {
    .col-md-8 {
        flex: 0 0 auto;
        width: 66.6666666667%;
    }
    .col-md-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
}
@media (max-width: 600px) {
    #price-compare-table td {
        min-width: 60px;
        font-size: 12px;
        padding: 10px 6px;
    }
    section#table table tr td:first-child {
        min-width: 90px;
    }
    .f2user-blk {
        max-width: 70px;
    }
    table#price-compare-table2 td {
        text-align: center;
        padding: 10px 6px;
        vertical-align: middle;
        font-size: 13px;
    }
    table#price-compare-table2 td i {
        font-size: 18px;
    }
    section#table {
        overflow-x: hidden;
    }
    table#price-compare-table th {
        font-size: 12px;
    }
    .pricing ul.c-pricing-nav li a {
        border: 0 none;
        border-left: 0 !important;
        border-bottom: 0 !important;
    }
    .pricing ul.c-pricing-nav li a.active {
        border-left: 1px solid #007bff !important;
        border-right: 1px solid #007bff !important;
        border-top: 4px solid #007bff;
    }
    #contactsrow p {
        padding: 0 40px;
        margin-bottom: 40px;
    }
    .camp-pricing .hero-block h1 {
        line-height: 1;
        margin-bottom: 15px;
    }
    section {
        padding: 30px 0 !important;
    }
    .on-off-switch-thumb {
        padding-right: 40px;
    }
    .pricing .nav-block {
        margin-top: 30px;
    }
    .camp-pricing .subheader-block .nav-container {
        min-height: 60px;
        align-items: center;
        justify-content: end;
        display: flex;
    }
    #subheader .nav-container .css-aaitl3 {
        display: flex;
        justify-content: end;
        align-items: center;
        min-height: 60px;
    }
    #subheader .nav-container .css-aaitl3 a.button-group-link {
        padding: 0;
        margin: 0;
        margin-left: 1rem;
        font-size: 14px !important;
        font-family: system-ui;
    }
    .camp-pricing .subheader-block .css-4vcvym {
        min-height: 60px !important;
    }
    .camp-pricing .subheader-block .nav-container {
        padding: 0;
    }
    #subheader .nav-container {
        padding: 0;
    }
}


#contactsrow .row {display: block;}
#contactsrow h3, #contactsrow h5 {
    font-weight: 700;
    color: #012970;
}
#contactsrow h3, #contactsrow h5 {
    font-weight: bold !important;
    color: #012970;
    margin-bottom: 0;
    margin-top: 10px !important;
}
a#buy {
    background: #18b196;
    padding: 0.5rem 1rem;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 500;
}
a#buy:hover {
    background: #109880;
}
.classic-pricing .box.feature-block {
    background: #FFF !important;
}
section#pricing .box.feature-block>h3.mclassic-feature-csuite {
    color: #0f977e !important;
}


#pricing a.button-group-button {
    text-align: center;
    text-decoration: none;
    padding: 1rem 2rem;
    font-family: Poppins, sans-serif;
    display: inline-flex;
    min-width: 10rem;
    align-items: center;
    justify-content: space-evenly;
    outline: 0px;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 250ms ease 0s;
    z-index: 0;
    color: #fff;
    width: 100%;
    position: relative;
    max-width: 250px;
}
#pricing a.button-group-button:after, #pricing a.button-group-button:before {
    content: " ";
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border-width: 3px;
    border-style: solid;
    transition-duration: 0.35s;
    background-color: #2d3748;
}
#pricing a.button-group-button:after {
    z-index: -2;
    transform: perspective(1px) translateZ(0px);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, 0.1);
}
#pricing a.button-group-button:hover:before, #pricing a.button-group-button:hover:after {
    background-color: #007bff !important;
    /* border-color: #007bff !important; */
}