.fieldBlk.countries-block .css-4cffwv {
    display: flex;
    width: 100%;
}
.fieldBlk.countries-block select {
    padding: 0 15px;
    line-height: 58px;
    border: 0 !important;
    font-family: 'Poppins',sans-serif;
}
.fieldBlk.countries-block select:focus {
    outline: 0 none;
}
.css-1qanhn1 {
    background-color: transparent;
}
.fieldBlk.is-invalid input.css-1qanhn1 {
    background: #fceaea;
}
.form-group .col-md-6 label {
    padding-bottom: 5px;
}
.emailsquotablock {
    background: transparent !important;
}

form .css-vurnku {
    position: relative;
}
.error-recaptcha {
    text-align: left;
    font-size: 12px;
    color: #ff0000;
    display: flex;
    position: absolute;
}
.error-recaptcha.hide {
    display: none;
}
.error-recaptcha.show {
    display: flex !important;
}



.kt-radio {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    text-align: left;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.kt-radio-inline .kt-radio {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 5px;
    font-weight: 400;
}
.kt-radio>span {
    background: 0 0;
    position: absolute;
    top: 4px;
    left: 0;
    height: 18px;
    width: 18px;
    border-radius: 50%!important;
}
.kt-radio>span {
    border: 1px solid #a4aab7 !important;
}
.kt-radio>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.kt-radio>input:checked~span {
    border: 1px solid #109880 !important;
}
.kt-radio:hover>input:not([disabled]):checked~span, .kt-radio>input:checked~span {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.kt-radio>input:checked~span {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    background: 0 0;
}
.kt-radio>input:checked~span:after {
    display: block;
}
.kt-radio>span:after {
    border: solid #109880!important;
    background: #109880!important;
}
.kt-radio>span:after {
    content: '';
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    margin-left: -4px;
    margin-top: -4px;
    width: 8px;
    height: 8px;
    border-radius: 100%!important;
}


.kt-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    text-align: left;
    cursor: pointer;
    font-size: 1rem;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.kt-checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.kt-checkbox>span {
    border-radius: 3px;
    background: 0 0;
    position: absolute;
    top: 5px;
    left: 0;
    height: 18px;
    width: 18px;
}
.kt-checkbox>span {
    border: 1px solid #a4aab7;
}
.kt-checkbox>input:checked~span:after {
    display: block;
}
.kt-checkbox>span:after {
    content: '';
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    margin-left: -2px;
    margin-top: -6px;
    width: 5px;
    height: 10px;
    border-width: 0 2px 2px 0!important;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.kt-checkbox>span:after {
    border: solid #109880;
}
.kt-checkbox>input:checked~span {
    border: 1px solid #109880;
}


label.label-control.text-left {
    text-align: left;
    display: block;
    font-weight: 600;
}