.one-price-text .css-1r0e6bs {
    max-width: 920px;
    text-align: center;
    margin: 0 auto 50px;
}
.home-price-main {
    max-width: 800px;
    margin: 0 auto 20px;
    border: 1px solid #0f977e;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
}
.home-price-main #sliderrow {
    width: 550px;
    background: #0f977e1f;
}
.home-price-main #sliderrow h3 {
    text-align: center;
    margin: 0;
    margin-top: 30px;
    color: #0f977e;
}
.home-price-main #sliderrow h5.emails12 {
    text-align: center;
    margin: 0;
}
.home-price-main #sliderrow p {
    padding: 0px 50px 55px;
    margin-top: -10px;
}
.home-price-main .pricerow {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #0f977e;
    width: 250px;
    color: #FFF;
}
.home-price-main .pricerow .plan {
    text-align: end;
    display: block;
    margin: 0;
    height: auto;
    position: relative;
}
.home-price-main .pricerow .plan h5.permonth {
    line-height: 1.5;
    margin: 0;
    vertical-align: middle;
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: 100;
}
.home-price-main .pricerow .plan h5#pricemain {
    background: transparent;
    color: #FFF !important;
    margin: 0 !important;
    padding: 0 !important;
    min-width: auto;
    vertical-align: middle;
    font-size: 44px;
    font-weight: 100;
    font-family: 'Nunito';
}
.irs--big .irs-bar {
    border: 1px solid #0f977e!important;
    background: linear-gradient(to bottom, #1caf9a 0%, #1caf9a 30%, #0f977e 100%)!important;
    box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1)!important;
}
.irs--big .irs-handle {
    border: 4px solid #0f977e!important;
}
.irs--big .irs-from, .irs--big .irs-to, .irs--big .irs-single {
    background-color: #0f977e!important;
    background: linear-gradient(to bottom, #0abb87 0%, #0f977e 100%)!important;
}
.irs-with-grid .irs-grid {
    display: none !important;
}
.home-pkg-blk {
    width: 205px;
    margin: 0 auto;
    display: block;
    padding: 25px;
    text-align: left;
    background: #e2f2ef;
    overflow: hidden;
    border-radius: 45px;
    margin-top: 30px;
    border: 1px solid transparent;
    opacity: 0.7;
}
.home-pkg-blk.active {opacity: 1;}
.home-pkg-blk h3 {
    margin-top: 0;
    color: #0f977e;
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 10px;
}
.home-pkg-blk .pkg-name {
    font-weight: 600;
    color: #2d3748;
    font-size: 18px;
    line-height: 1;
}
.home-pkg-blk .pkg-range {
    font-size: 15px;
    color: #4e5a6d;
}
.home-pkg-blk.free {
    background: #f4f4f4;
}
.home-pkg-blk.free.active {
    border-color: #2d3748;
    box-shadow: 0 0 25px 5px rgb(140 152 164 / 30%);
}
.home-pkg-blk.free h3 {
    color: #2d3748;
}
.home-pkg-blk.starter {
    background: #faebd7;
}
.home-pkg-blk.starter.active {
    border-color: #a46c20;
    box-shadow: 0 0 25px 5px rgb(140 152 164 / 30%);
}
.home-pkg-blk.starter h3 {
    color: #a46c20;
}
.home-pkg-blk.economy {
    background: #afdbdc;
}
.home-pkg-blk.economy.active {
    border-color: #207a7c;
    box-shadow: 0 0 25px 5px rgb(140 152 164 / 30%);
}
.home-pkg-blk.economy h3 {
    color: #207a7c;
}
.home-pkg-blk.standard {
    background: #b0ccff;
}
.home-pkg-blk.standard.active {
    border-color: #0b5ef7;
    box-shadow: 0 0 25px 5px rgb(140 152 164 / 30%);
}
.home-pkg-blk.standard h3 {
    color: #0b5ef7;
}
.home-pkg-blk.business {
    background: #dedede;
}
.home-pkg-blk.business.active {
    border-color: #151515;
}
.home-pkg-blk.business h3 {
    color: #151515;
}
.home-pkg-blk.premium {
    background: #ffceff;
}
.home-pkg-blk.premium.active {
    border-color: #a245a2;
}
.home-pkg-blk.premium h3 {
    color: #a245a2;
}
.home-pkg-blk.enterprise {
    background: #ffcccc;
}
.home-pkg-blk.enterprise.active {
    border-color: #a44a4a;
}
.home-pkg-blk.enterprise h3 {
    color: #a44a4a;
}
.home-pkg-blk.custom {
    background: #0f977e;
}
.home-pkg-blk.custom.active {
    border-color: #0f977e;
    background: #0f977e;
}
.home-pkg-blk.custom h3 {
    color: #deefec;
}
.home-pkg-blk.custom .pkg-range {
    color: #FFF;
}

.home-pkg-blk.active .hm-price {
    opacity: 1;
}
.hm-price {
    position: relative;
}
.home-pkg-blk .css-1cltse0 {
    display: none;
    margin: 0 !important;
    float: right;
    position: absolute;
    right: -4px;
    top: -4px;
}
.home-pkg-blk .css-1cltse0 svg {
    width: 28px;
    height: 28px;
    fill: #ffffff !important;
    background: #0f977e;
    border-radius: 50%;
    outline: 0 none;
}
.home-pkg-blk.active .css-1cltse0 {
    display: block;
} 
.home-price-main .pricerow .price-input {
    width: 100%;
    color: #FFF;
    font-size: 50px;
    text-align: center;
    line-height: 1;
    font-weight: 600;
}
.home-price-main .pricerow .price-input #pricemain {
    color: #2d3748;
    width: auto;
    min-width: 70px;
    font-size: 44px;
    font-family: 'Nunito';
    border-radius: 15px;
    border: 0;
    line-height: 1;
    text-align: left;
    max-width: 100%;
}
.home-price-main .pricerow .price-input #pricemain:focus {
    color: #0f977e;
    outline: 0;
}
.home-pkg-blk.free svg {
    background: #2d3748;
}
.home-pkg-blk.starter svg {
    background: #a46c20;
}
.home-pkg-blk.economy svg {
    background: #207a7c;
}
.home-pkg-blk.standard svg {
    background: #0b5ef7;
}
.home-pkg-blk.business svg {
    background: #151515
}
.home-pkg-blk.premium svg {
    background: #a245a2
}
.home-pkg-blk.enterprise svg {
    background: #a44a4a
}
.home-pkg-blk.custom svg {
    background: #0f977e;
}
.input-blk {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}
input#contacts-value {
    display: block;
    width: 220px;
    line-height: 1.5;
    padding: 0;
    text-align: center;
    font-size: 36px;
    border: 2px solid #0f977e;
    margin: 0 auto;
    font-weight: 600;
    color: #2d3748;
    border-radius: 10px;
}
input#contacts-value:focus {
    outline: 0 none;
    border-color: #0b856e;
    box-shadow: 0 0 5px 5px rgb(15 151 126 / 20%);
}
.input-blk span {
    font-size: 13px;
}
.home-one-bblk {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.home-one-bblk a#orderone {
    margin-top: 22px;
    width: auto;
    padding: 10px 9px;
    background: #fff;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 700;
    color: #0f977e;
    border: 2px solid #ffffff;
    min-width: 150px;
    text-transform: uppercase;
}
.home-one-bblk a#orderone:focus,
.home-one-bblk a#orderone:hover {
    color: #fff;
    background: #0f977e !important;
}
.irs--big .irs-line {
    border: 1px solid #0f977e;
}
.irs--big .irs-line {
    background: #e2f2ef!important;
}

input[type="number"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}




.text-center {text-align: center}
@media (min-width: 768px) {
    .col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}
.col-md-3 {
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}