.one-marketing-cheatsheet h1 {
    max-width: 100%;
    margin-bottom: 20px;
}

.one-marketing-cheatsheet #services1 .css-aaitl3>a.button-group-button {
    margin-bottom: 70px;
    border-radius: 6px;
    padding: 12px 50px;
}