.one-section-26 {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
}
.one-section-26 .section26-box-out {
    padding: 30px 15px;
}
.one-section-26 .section16-box {
    padding: 0;
}
.one-section-26 .list-text-top {
    height: 80px;
    width: 100%;
    text-align: center;
    padding: 0% 15px;
}
.section26-box {
    border: 2px solid#99dbff;
    border-radius: 20px;
    height: 100%;
}
.one-section-26 .d-table {
    display: table!important;
}
.one-section-26 .card-body {
    padding: 0;
    border: 0;
    background-color: transparent;
    position: relative;
    margin-top: -10px;
    bottom: 30px;
}
.one-section-26 p{
    font-size: 20px;
    margin: 0;
}
.one-section-26 .box{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 0px #a2dafb;
    z-index: 3;
    padding: 30px;
}

.section26-box.distractions {
    min-height: 346px;
    display: block;
    width: 100%;
}
.section26-box.distractions img {
    width: 100%;
    display: block;
    height: auto;
    padding-top: 45px;
    margin-bottom: 90px;
}


@media (max-width:767px) {
    .one-section-26 .col-xs-12 {width: 100%;}
    .one-section-26 .section26-box-out {
        padding: 0;
        margin-bottom: 25px;
    }
}